.title-nav {
  display: flex;
  background: #cfb792;
  color: #333333;
  padding-left: 20px;
}

.tabs {
  overflow: hidden;
  background: #eeb;
  padding: 12px;
  border: 1px solid #ccc;
}

.tabs button {
  background-color: inherit;
  float: left;
  margin: 0px 5px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;

}

.tabs button:hover {
  background-color: #909040;
}

.book-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em;
  gap: 1em;
  justify-content: space-evenly;
}

.book-cover {
  color: #000;
  padding: 20px 0px;
  border: solid #cfb792 1px;
  position: relative;
}

.book-cover button {
  background-color: #cfb792;
  padding: 3px 8px;
  border: 0;
  user-select: none;
}

.description {
  position: absolute;
  margin: 0;
  width: 90%;
  height: calc(100% - 40px);
  padding-left: 5%;
  z-index: 100;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.bookInfo-text p {
  margin: 10px
}

.App {
  text-align: center;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

